{% extends "leg/base.html" %}
{% block letter %}
<div class="container mt-3">
  <h2>Stavning</h2>
  <br>
  <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <style>
        body {
            position: relative; 
        }
        </style>
      <!--</head>-->
      <body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">

      <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#section1">Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section2">Hvad forestiller billedet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section3">Stavning hele alfabetet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section4">Tilbage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section5"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section6"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section7"></a>
            </li>
          </ul>
        </div>
      </nav>

  

      <div id="section1" class="container-fluid bg-success text-white" style="padding:100px 20px;">
        <h1>Info</h1>
       <h1><font color=red> Stavning</font></h1>
        <h4>Her går det ud på at stave til det ord som billedet viser. <br>
            Alle billeder er med på de foregående sider.<br>
        Når du har stavet til ordet kan du tjekke om det er rigtigt, og der kommer et nyt billede,<br>
    hvis der er så mange lagt ind under bogstavet.</h4>
    <h2><font color=yellow>GOD FORNØJELSE</font></h2>
      </div>

      <div id="section2" class="container-fluid bg-warning" style="padding:100px 20px;">
        <h1></h1>
        <h2>Hvad forestiller dette billede?<br>Skriv ordet i boksen og tjek om det er rigtigt.</h2>
<br>

    
<div class="row">
    <div class="col-4">
        <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
        <nav class="nav nav-pills flex-column">
            <a class="nav-link" href="#item-1">A</a>
            <a class="nav-link" href="#item-2">B</a>
            <a class="nav-link" href="#item-3">C</a>
            <a class="nav-link" href="#item-4">D</a>
            <a class="nav-link" href="#item-5">E</a>
            <a class="nav-link" href="#item-6">F</a>
            <a class="nav-link" href="#item-6">G</a>
            <a class="nav-link" href="#item-6">H</a>
            <a class="nav-link" href="#item-6">I</a>
            <a class="nav-link" href="#item-6">J</a>
            <a class="nav-link" href="#item-6">K</a>
            <a class="nav-link" href="#item-6">L</a>
            <a class="nav-link" href="#item-6">M</a>
            <a class="nav-link" href="#item-6">N</a>
            <a class="nav-link" href="#item-6">O</a>
            <a class="nav-link" href="#item-6">P</a>
            <a class="nav-link" href="#item-6">Q</a>
            <a class="nav-link" href="#item-6">R</a>
            <a class="nav-link" href="#item-6">S</a>
            <a class="nav-link" href="#item-6">T</a>
            <a class="nav-link" href="#item-6">U</a>
            <a class="nav-link" href="#item-6">V</a>
            <a class="nav-link" href="#item-6">W</a>
            <a class="nav-link" href="#item-6">X</a>
            <a class="nav-link" href="#item-6">Y</a>
            <a class="nav-link" href="#item-6">Z</a>
            <a class="nav-link" href="#item-6">Æ</a>
            <a class="nav-link" href="#item-6">Ø</a>
            <a class="nav-link" href="#item-6">Å</a>

        </nav>
        </nav>

    </div>
    
  
</body>

  <div class="col-8">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      
    <div id="item-1">
      <h4>A</h4>
        <h4>Hvad forestiller billedet</h4>
        <img src="{{ a.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <form method="post">
        {% csrf_token %}
        <label for="gæt-a">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-a">
        <input type="hidden" name="a_id" value="{{ a.id }}">
        <button type="submit">Tjek</button>
        </form>

        {% if aktiv_model == 'a/alfabet' and aktiv_id == a.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        <hr>
        </div>

      
      <div id="item-2">
        <h4>B</h4>
        <img src="{{ b.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <form method="post">
        {% csrf_token %}
        <label for="gæt-b">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-b">
        <input type="hidden" name="b_id" value="{{ b.id }}">
        <button type="submit">Tjek</button>
        </form>

        {% if resultat and aktiv_model == 'b' and aktiv_id == b.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        
        <hr>
      </div>

      <div id="item-3">
        <h4>C</h4>
        <img src="{{ c.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        
        <form method="post">
        {% csrf_token %}
        <label for="gæt-c">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-c">
        <input type="hidden" name="c_id" value="{{ c.id }}">
        <button type="submit">Tjek</button>
        </form>

        {% if resultat and aktiv_model == 'c' and aktiv_id == c.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        
        <hr>
      </div>

      <div id="item-4">
        <h4>D</h4>
        <img src="{{ d.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        
        <form method="post">
        {% csrf_token %}
        <label for="gæt-d">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-d">
        <input type="hidden" name="d_id" value="{{ d.id }}">
        <button type="submit">Tjek</button>
        </form>

        {% if resultat and aktiv_model == 'd' and aktiv_id == d.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        
        <hr>
      </div>

      <div id="item-5">
        <h4>E</h4>
        <img src="{{ e.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <form method="post">
        {% csrf_token %}
        <label for="gæt-e">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-e">
        <input type="hidden" name="e_id" value="{{ e.id }}">
        <button type="submit">Tjek</button>
        </form>

        {% if resultat and aktiv_model == 'e' and aktiv_id == e.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        
        <hr>
      </div>

      <div id="item-6">
        <h4>F</h4>
        <img src="{{ f.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <form method="post">
        {% csrf_token %}
        <label for="gæt-f">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-f">
        <input type="hidden" name="f_id" value="{{ f.id }}">
        <button type="submit">Tjek</button>
        </form>

        {% if resultat and aktiv_model == 'f' and aktiv_id == f.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        

        <hr>
      </div>

      <div id="item-7">
        <h4>G</h4>
        <img src="{{ g.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <form method="post">
        {% csrf_token %}
        <label for="gæt-g">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-g">
        <input type="hidden" name="g_id" value="{{ g.id }}">
        <button type="submit">Tjek</button>
        </form>

        {% if resultat and aktiv_model == 'g' and aktiv_id == g.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        

        <hr>
      </div>

      <div id="item-8">
        <h4>H</h4>
        <img src="{{ h.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <form method="post">
        {% csrf_token %}
        <label for="gæt-h">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-h">
        <input type="hidden" name="h_id" value="{{ h.id }}">
        <button type="submit">Tjek</button>
        </form>

        {% if resultat and aktiv_model == 'h' and aktiv_id == h.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        

        <hr>
      </div>
      <div id="item-9">
        <h4>I</h4>
        <img src="{{ i.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <form method="post">
        {% csrf_token %}
        <label for="gæt-i">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-i">
        <input type="hidden" name="i_id" value="{{ i.id }}">
        <button type="submit">Tjek</button>
        </form>

        {% if resultat and aktiv_model == 'i' and aktiv_id == i.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        

        <hr>
      </div>

      <div id="item-10">
        <h4>J</h4>
        <img src="{{ j.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <form method="post">
        {% csrf_token %}
        <label for="gæt-j">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-j">
        <input type="hidden" name="j_id" value="{{ j.id }}">
        <button type="submit">Tjek</button>
        </form>

        {% if resultat and aktiv_model == 'j' and aktiv_id == j.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        

        <hr>
      </div>

      <div id="item-11">
        <h4>K</h4>
        <img src="{{ k.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <form method="post">
        {% csrf_token %}
        <label for="gæt-k">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-k">
        <input type="hidden" name="k_id" value="{{ k.id }}">
        <button type="submit">Tjek</button>
        </form>

        {% if resultat and aktiv_model == 'k' and aktiv_id == k.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        

        <hr>
      </div>
      <div id="item-12">
        <h4>L</h4>
        <img src="{{ l.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <form method="post">
        {% csrf_token %}
        <label for="gæt-l">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-l">
        <input type="hidden" name="l_id" value="{{ l.id }}">
        <button type="submit">Tjek</button>
        </form>

        {% if resultat and aktiv_model == 'l' and aktiv_id == l.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        

        <hr>
      </div>

      <div id="item-13">
        <h4>M</h4>
        <img src="{{ m.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <form method="post">
        {% csrf_token %}
        <label for="gæt-m">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-m">
        <input type="hidden" name="m_id" value="{{ m.id }}">
        <button type="submit">Tjek</button>
        </form>

        {% if resultat and aktiv_model == 'm' and aktiv_id == m.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        

        <hr>
      </div>
      <div id="item-14">
        <h4>N</h4>
        <img src="{{ n.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <form method="post">
        {% csrf_token %}
        <label for="gæt-n">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-n">
        <input type="hidden" name="n_id" value="{{ n.id }}">
        <button type="submit">Tjek</button>
        </form>

        {% if resultat and aktiv_model == 'n' and aktiv_id == n.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        

        <hr>
      </div>
      <div id="item-15">
        <h4>O</h4>
        <img src="{{ o.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <form method="post">
        {% csrf_token %}
        <label for="gæt-o">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-o">
        <input type="hidden" name="o_id" value="{{ o.id }}">
        <button type="submit">Tjek</button>
        </form>

        {% if resultat and aktiv_model == 'o' and aktiv_id == o.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        

        <hr>
      </div>

      <div id="item-16">
        <h4>P</h4>
        <img src="{{ p.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <form method="post">
        {% csrf_token %}
        <label for="gæt-p">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-p">
        <input type="hidden" name="p_id" value="{{ p.id }}">
        <button type="submit">Tjek</button>
        </form>

        {% if resultat and aktiv_model == 'p' and aktiv_id == p.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        
        <hr>
      </div>

      <div id="item-17">
        <h4>Q</h4>
        <img src="{{ q.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <form method="post">
        {% csrf_token %}
        <label for="gæt-q">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-q">
        <input type="hidden" name="q_id" value="{{ q.id }}">
        <button type="submit">Tjek</button>
        </form>

        {% if resultat and aktiv_model == 'q' and aktiv_id == q.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        

        <hr>
      </div>
    </div>
  </div>
</div>
      </div>

      <div id="section3" class="container-fluid bg-secondary text-white" style="padding:100px 20px;">
        <h1>Stavning hele alfabetet</h1>

        <div class="row">
    <div class="col-4">
        <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
        
        </nav>

    </div>


  <div class="col-8">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      
    <div id="item-1">
        <h4>Hvad forestiller billedet</h4>
        <img src="{{ alfabet.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        

        <form method="post">
        {% csrf_token %}
        <label for="gæt-alfabet">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-alfabet">
        <input type="hidden" name="alfabet_id" value="{{ alfabet.id }}">
        <button type="submit">Tjek</button>
        </form>

        {% if aktiv_model == 'alfabet' and aktiv_id == alfabet.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
        {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
        <hr>
        </div>

      
      
        <hr>
      </div>
    </div>
    </div>
  </div>
</div>
      
        
      </div>
        <div id="section4" class="container-fluid bg-info text-white" style="padding:100px 20px;">
          <h1></h1>
          <h1>Tilbage</h1>
          <button type="button" class="btn btn-light"><a class="nav-link" href="/">Til start</a></button>
          <hr>
          <button type="button" class="btn btn-light"><a class="nav-link" href="#section1">Til top</a></button>
        </div>

        <div id="section5" class="container-fluid bg-success text-white" style="padding:100px 20px;">
          <h1></h1>
          
                </div>
             
        <div id="section6" class="container-fluid bg-info text-white" style="padding:100px 20px;">
          <h1></h1>
          
        </div>
        <div id="section7" class="container-fluid bg-warning text-white" style="padding:100px 20px;">
          
        </div>

      </body>
    </div>
    
      

{% endblock letter %}