{% extends 'forside/base.html' %}
{% block content %}
<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
  <div class="bg-danger p-4">
    <h5 class="text-body-emphasis h4">Alfabetet</h5>
    <a class="nav-link" href="{% url 'tyska' %}">A</a>
    <a class="nav-link" href="{% url 'tyskb' %}">B</a>
    <a class="nav-link" href="{% url 'tyskc' %}">C</a>
    <a class="nav-link" href="{% url 'tyskd' %}">D</a>
    <a class="nav-link" href="{% url 'tyske' %}">E</a>
    <a class="nav-link" href="{% url 'tyskf' %}">F</a>
    <a class="nav-link" href="{% url 'tyskg' %}">G</a>
    <a class="nav-link" href="{% url 'tyskh' %}">H</a>
    <a class="nav-link" href="{% url 'tyski' %}">I</a>
    <a class="nav-link" href="/tyskj">J</a>
    <a class="nav-link" href="/tyskk">K</a>
    <a class="nav-link" href="/tyskl">L</a>
    <a class="nav-link" href="/tyskm">M</a>
    <a class="nav-link" href="/tyskn">N</a>
    <a class="nav-link" href="/tysko">O</a>
    <a class="nav-link" href="/tyskp">P</a>
    <a class="nav-link" href="/tyskq">Q</a>
    <a class="nav-link" href="/tyskr">R</a>
    <a class="nav-link" href="/tysks">S</a>
    <a class="nav-link" href="/tyskt">T</a>
    <a class="nav-link" href="/tysku">U</a>
    <a class="nav-link" href="/tyskv">V</a>
    <a class="nav-link" href="/tyskw">W</a>
    <a class="nav-link" href="/tyskx">X</a>
    <a class="nav-link" href="/tysky">Y</a>
    <a class="nav-link" href="/tyskz">Z</a>
    <span class="text-body-secondary"></span>
  </div>
</div>
<nav class="navbar navbar-dark bg-success">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<h1></h1>
{% block letter %}
{% endblock letter %}
{% endblock content %}